*.log
default.xkm

# Blacklist everything by default in config.symlink
config.symlink/*
# Whitelist some config.symlink content
!config.symlink/bin
!config.symlink/gandi
!config.symlink/i3
#!config.symlink/remmina
!config.symlink/systemd
!config.symlink/vlc
!config.symlink/xfce4
!config.symlink/user-dirs.dirs
!config.symlink/user-dirs.locale
